<div class="row">
  <div class="col-10">
    <button class="btn btn-success mr-2" (click)="upvoteQuote(true)">
      <fa-icon [icon]="faThumbsUp" class="mr-3"></fa-icon>
      <span>{{ quote.upVotes }}</span>
    </button>
    <button class="btn btn-danger" (click)="downvoteQuote(true)">
      <fa-icon [icon]="faThumbsDown" class="mr-3"></fa-icon>
      <span>{{ quote.downVotes }}</span>
    </button>
  </div>
  <div class="col-2 text-center">
    <button class="btn btn-danger" (click)="deleteQuote(true)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>
</div>
