<div class="container">
  <h1>Quote</h1>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
<hr />
<div class="container">
  <div *ngFor="let quote of checkHighestUpvote(); let i = index">
    <div class="card mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col-10">
            <button class="btn btn-success mr-2" (click)="upVote(i)">
              <fa-icon [icon]="faThumbsUp" class="mr-3"></fa-icon>
              <span>{{ quote.upVotes }}</span>
            </button>
            <button class="btn btn-danger" (click)="downVote(i)">
              <fa-icon [icon]="faThumbsDown" class="mr-3"></fa-icon>
              <span>{{ quote.downVotes }}</span>
            </button>
          </div>
          <div class="col-2 text-center">
            <button class="btn btn-danger" (click)="deleteQuote(i)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p
            appHighlightHigestVote
            *ngIf="
              i == 0 &&
              quote.upVotes === setHighest().upVotes &&
              quote.upVotes > 0
            "
          >
            {{ quote.quote }}
          </p>
          <p *ngIf="setHighest().id !== quote.id || quote.upVotes === 0">
            {{ quote.quote }}
          </p>
          <footer class="blockquote-footer">
            <cite title="Source Title">{{ quote.author }}</cite>
            <div class="row">
              <div class="col">
                <p>
                  Submitted By: <span>{{ quote.submittedBy }}</span>
                </p>
              </div>
              <div class="col">
                <p>
                  Created: <span>{{ quote.createdDate | dateCount }}</span>
                </p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
